html{
    scroll-behavior: smooth;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin: 0;
    width: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.header__logo{
    text-align: left;
    padding: 30px 10px 30px 20px;
    float: left;
    text-decoration: none;
    background-color: #63c6ae;
    color: white;
    font-weight: 800;
    font-size: 30px; 
    transition: all .3s ease;
}
.header__logo:hover{
    color: rgba(0, 0, 0, 0.233);
}
.js .header{
    position: fixed;
    width: 100%;
    background: #63c6ae;
}
.header__btnMenu{
    float: right;
    margin: 1.5em;
    background: transparent; 
    border: none;
    font-size: 18px;
    padding: 5px 0;
    
}
.header__btnMenu img{
    width: 35px;
}
.header__nav{
    background: #63c6ae;
    margin-top: 105px;
}
.js .header__nav{
    transition: max-height 1s;
}
.header__nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header__nav li{
    margin: 0;
    width: 100%;
    list-style: none;
    display: inline-block;
    text-align: center;
    background-color: #408b79;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}
.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.671);
    padding: 20px;
    display: block;
    transition: all .2s;
}
.header__nav a:hover{
    color: white;
}
.banner{
    height: 90vh;
    padding: 40px 20px;
    text-align:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(360deg, #63c6ad7e 1%, transparent 30%), url(/img/01.jpg);
    background-size: cover;
    background-position: bottom left;
}
.banner__title{
    font-size: 30px;
    font-weight: 500;
    padding: 30px 20px;
    background-color: #63c6ae;
    color: rgb(255, 255, 255);
    
}
.banner__text{
    font-size: 16px;
    padding: 20px 20px;
    margin: 0 10px;
    background-color: rgba(128, 128, 128, 0.616);
    color:rgb(215, 215, 215);   
}
.banner__btn{
    margin-top: 30px;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    background-color: rgba(240, 248, 255, 0.068);
    transition: .3s ease;

}
.banner__btn:hover{
    background-color: rgba(53, 66, 62, 0.233);
    color: #63c6ae;
}
.people-cards{
    margin: 3em 0;
}
.people-cards__card{
    margin: 40px 0;
}
.people-cards__card:hover{
    outline: 2px solid #63c6ae;
    outline-offset: -2px; 
}
.people-cards__card:hover .people-cards__avatar img{
   transform: translateY(-50%);
   
}


.cards-title{
    margin-top: -40px;
    background: #63c6ae;
    padding: 20px 20px;
    color: white;
    font-weight: lighter;
    border-bottom: 6px solid #58b9a1;
}
.people-cards__img{
    width: 100%;
}
.people-cards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden; 
}
.people-cards__content{
    text-align: center;
    padding: 40px 25px 10px;
}
.people-cards__title{
    color: #737c85;
    font-size: 21px;
    font-weight: normal;
}
.people-cards__text{
    color: #929da5;
    font-size: 16px;
    padding: 0 10px 60px 10px;
}
.people-cards__card:hover .people-cards__text,
.people-cards__card:hover .people-cards__title{
    color: #63c6ae;
    transition: ease-out .1s;
}


.content{
    background: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}
.content h3{
    color: #737c85;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 400;
}
.content p{
    color: #929da5;
    font-size: 16px;
    padding-bottom: 15px ;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}
.button{
    padding: 20px 20px;
    background: #929da5;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f8f9f9;
    border-radius: 5px;
    transition: all .4s;
    display: inline-block;
    margin-top: 15px;
}

.button:hover{
   background: rgba(115, 124, 133, 0.356);
   color: black;
}



.last-articles__title{
    background-color: #408b79;
    padding: 5px 0;
}
.last-articles__title h2{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight:lighter;
}
.last-articles__thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}
.last-articles__thumbs img{
    display: block;
    width: 100%;
}




.laptop-slider{
    background-color: #408b79;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.laptop-slider__slideshow{
    white-space: nowrap;
}
.laptop-slider__slideshow figure{
    display: inline-block;
}



.quote-container{
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #58b9a1;
}
.quote-slideshow h2{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    padding: 10px 0 0 0;
}
.quote-slideshow figcaption{
    color: white;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    padding: 0 0 30px 0
}



.footer{
    background-color: #242a2c;
    padding: 50px 0 100px 0;
    color: #454e51;
}
.footer h2{
    font-size: 30px;
    color: #6b7c81;
}
.footer p{
    /* padding: 0 20px; */
    font-size: 17px;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.footer__links{
    padding: 30px 0;
}
.footer__links li{
    list-style: none;
    margin-top: 10px ;
}
.footer__links a{
    color: #454e51;
    display: block;
    font-weight: 600;
    padding: 6px 0;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease;
}
.footer__links a:hover{
    color: #929da5;
}


@media screen and (min-width: 1024px){
    .header{
        position: fixed;
        background-color: #63c6ae;
        border-bottom: 2px solid #00000060;

    }
    .header__logo{
        width: 25%;
    }
    .header__nav{
        float: right;
        width: 75%;
        max-width: 1200px;
        margin: 0;
       
    }
    .header__nav ul{
        display: flex;
        word-spacing: normal;
        
    }
    .header__nav a{
        background: #63c6ae;
        padding: 40.9px 0px;
    }
    .header__btnMenu{
       display: none;
       
    }


    .people-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }


    .banner__title{
        padding: 40px 80px;
        font-size: 50px;
    }
    .banner__text{
        padding: 30px;
        font-size: 20px;
    }

    .banner__btn{
        padding: 20px 50px;
        background-color: rgba(0, 0, 0, 0.582);
    }
    .content .container{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px 40px;
    }



    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr);
    }



    .footer .container{
        text-align: center;
    }
}